www/static/content.rng.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:bxe="http://bitfluxeditor.org/schema/2.0" ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="bx">
      <oneOrMore>
        <element name="plugin">
          <attribute name="name">
            <data type="NCName"/>
          </attribute>
          <choice>
            <ref name="collection"/>
            <element>
              <name ns="http://www.w3.org/1999/xhtml">html</name>
              <optional>
                <element>
                  <name ns="http://www.w3.org/1999/xhtml">head</name>
                  <element>
                    <name ns="http://www.w3.org/1999/xhtml">title</name>
                    <empty/>
                  </element>
                </element>
              </optional>
              <element>
                <name ns="http://www.w3.org/1999/xhtml">body</name>
                <zeroOrMore>
                <element>
                  <name ns="http://www.w3.org/1999/xhtml">div</name>
                  <attribute name="id">
                    <data type="NCName"/>
                  </attribute>
                  <oneOrMore>
                    <choice>
                      <element>
                        <name ns="http://www.w3.org/1999/xhtml">br</name>
                        <empty/>
                      </element>
                      <element>
                        <name ns="http://www.w3.org/1999/xhtml">h1</name>
                       <text/>
                          <bxe:nextelement ns="http://www.w3.org/1999/xhtml">p</bxe:nextelement>
                      </element>
                      <element>
                        <name ns="http://www.w3.org/1999/xhtml">h2</name>
                        <text/>
                          <bxe:nextelement ns="http://www.w3.org/1999/xhtml">p</bxe:nextelement>
                      </element>
                      <element>
                        <name ns="http://www.w3.org/1999/xhtml">h3</name>
                        <text/>
                          <bxe:nextelement ns="http://www.w3.org/1999/xhtml">p</bxe:nextelement>
                      </element>
                      <element>
                        <name ns="http://www.w3.org/1999/xhtml">p</name>
                          <bxe:nextelement ns="http://www.w3.org/1999/xhtml">p</bxe:nextelement>
                        <zeroOrMore>
                          <choice>
                            <text/>
                            <element>
                              <name ns="http://www.w3.org/1999/xhtml">a</name>
                              <attribute name="href">
                                <data type="anyURI"/>
                              </attribute>
                              <attribute name="rel">
                                <data type="NCName"/>
                              </attribute>
                              <attribute name="target">
                                <data type="NCName"/>
                              </attribute>
                              <data type="anyURI"/>
                            </element>
                            <element>
                              <name ns="http://www.w3.org/1999/xhtml">img</name>
                              <attribute name="alt">
                                <data type="NCName"/>
                              </attribute>
                              <optional>
                                <attribute name="height">
                                  <data type="integer"/>
                                </attribute>
                              </optional>
                              <attribute name="src"/>
                              <optional>
                                <attribute name="width">
                                  <data type="integer"/>
                                </attribute>
                              </optional>
                            </element>
                              <element name="xhtml:em">
                                  <text/>
                              </element>
                              <element name="xhtml:b">
                                  <text/>
                              </element>
                              <element name="xhtml:sup">
                                  <text/>
                              </element>
                              <element name="xhtml:sub">
                                  <text/>
                              </element>
                          </choice>
                        </zeroOrMore>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
                  </zeroOrMore>
              </element>
            </element>
          </choice>
        </element>
      </oneOrMore>
    </element>
  </start>
  <define name="collection">
    <element name="collection">
      <attribute name="level">
        <data type="integer"/>
      </attribute>
      <attribute name="mimetype"/>
      <optional>
        <attribute name="selected">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <element name="display-name">
            <data type="NCName"/>
          </element>
          <element name="display-order">
            <data type="integer"/>
          </element>
          <element name="items">
            <oneOrMore>
              <ref name="collection"/>
            </oneOrMore>
          </element>
          <element name="title">
            <data type="NCName"/>
          </element>
          <element name="uri">
            <text/>
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>
</grammar>
